.purpose-container {
  background-image: linear-gradient(
    180deg,
    #5461c8 12.5% /* 1*12.5% */,
    #c724b1 0,
    #c724b1 25% /* 2*12.5% */,
    #e4002b 0,
    #e4002b 37.5% /* 3*12.5% */,
    #ff6900 0,
    #ff6900 50% /* 4*12.5% */,
    #f6be00 0,
    #f6be00 62.5% /* 5*12.5% */,
    #97d700 0,
    #97d700 75% /* 6*12.5% */,
    #00ab84 0,
    #00ab84 87.5% /* 7*12.5% */,
    #00a3e0 0
  );
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @media (min-width: 768px) {
    height: calc(100vh - 52px);
  }
}
